# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [29]:
file = pd.read_csv('cities.csv')
file.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,Busselton,0,AU,1581537448,48,-33.65,115.33,71.01,9.64
1,Lahaina,20,US,1581537423,64,20.88,-156.68,75.20,4.70
2,Magdalena,20,PH,1581537448,78,14.20,121.43,75.20,4.70
3,Cabo San Lucas,5,MX,1581537449,55,22.89,-109.91,73.00,9.17
4,Pangnirtung,40,CA,1581537448,67,66.15,-65.71,-22.00,1.43

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [103]:
gmaps.configure(api_key=g_key)

locations = file[["Lat", "Lon"]].astype(float)
humidity = file["Humidity"].astype(float)

fig = gmaps.figure()
humid_layer = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(humid_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [74]:
narrowed_city_df = file[(file['Max Temp'] < 105) & (file['Max Temp'] >=70) & (file['Wind Speed'] < 5) \
               & (file['Cloudiness'] < 20)]
narrowed_city_df.count()

City          16
Cloudiness    16
Country       16
Date          16
Humidity      16
Lat           16
Lon           16
Max Temp      16
Wind Speed    16
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [96]:
narrowed_city_df['Hotel Name'] = ''
narrowed_city_df.head()

C:\Users\blper\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed,Hotel Name
36,Parnarama,1,BR,1581537456,88,-5.68,-43.09,78.64,1.50,
51,Morondava,0,MG,1581537530,96,-20.28,44.28,75.07,1.03,
60,Mareeba,0,AU,1581537532,74,-17.00,145.43,78.80,3.36,
62,Kedougou,0,SN,1581537532,17,12.56,-12.17,82.92,4.27,
67,Srivardhan,0,IN,1581537534,66,18.03,73.02,74.44,3.98,

In [ ]:
for index, row in narrowed_city_df.iterrows():
    narrowed_city_df.loc[index, 'Hotel Name'] = 'hello'
    print(narrowed_city_df['Hotel Name'])

In [99]:
for index, row in narrowed_city_df.iterrows():
    lat = row["Lat"]
    lon = row["Lon"]
    
    url = (f'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@{lat},{lon}&key={g_key}')

    hotel = requests.get(url)

    print(hotel.url)

    # convert to json
    hotel = hotel.json()
    print(json.dumps(hotel, indent=4, sort_keys=True))
    narrowed_city_df.loc[index, 'Hotel Name'] = hotel['candidates'][0]['name']

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@-5.68,-43.09&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Unnamed Road, Parnarama - MA, 65640-000, Brazil",
            "geometry": {
                "location": {
                    "lat": -5.6888311,
                    "lng": -43.090416
                }
            },
            "name": "Hotel Solar Parna\u00edba"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@-20.28,44.28&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Morondava, Madagascar",
            "geometry": {
                "location": {
                    "lat": -20.3000259,
                    "lng": 44.2679367
                }
            },
            "name": "Palissandre Cote Ouest resort & SPA"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@-17.0,145.43&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "261/265 Byrnes St, Mareeba QLD 4880, Australia",
            "geometry": {
                "location": {
                    "lat": -17.0006216,
                    "lng": 145.4236423
                }
            },
            "name": "Mareeba Lodge Motel"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@12.56,-12.17&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Dind\u00e9felo, Kedougou, Senegal",
            "geometry": {
                "location": {
                    "lat": 12.383169,
                    "lng": -12.327798
                }
            },
            "name": "Campement Touristique Le Dogon du Fouta"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@18.03,73.02&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Aagar Road, Near Ganpati Mandir Harihareshwar Maaral, Harihareshwar, Maharashtra 402110, India",
            "geometry": {
                "location": {
                    "lat": 18.0006464,
                    "lng": 73.01891189999999
                }
            },
            "name": "Tranquil Beach Resort"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@4.87,-2.24&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Ghana",
            "geometry": {
                "location": {
                    "lat": 4.8508282,
                    "lng": -2.2342409
                }
            },
            "name": "Axim Beach Hotel"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@17.65,83.27&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Beach Road, Nowroji Rd, Maharani Peta, Visakhapatnam, Andhra Pradesh 530003, India",
            "geometry": {
                "location": {
                    "lat": 17.7106988,
                    "lng": 83.3158909
                }
            },
            "name": "Novotel Visakhapatnam Varun Beach"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@-34.05,23.37&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "40 Church St, Plettenberg Bay, 6600, South Africa",
            "geometry": {
                "location": {
                    "lat": -34.05381,
                    "lng": 23.37756
                }
            },
            "name": "The Plettenberg Hotel"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@-23.13,150.73&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "58 Farnborough Rd, Yeppoon QLD 4703, Australia",
            "geometry": {
                "location": {
                    "lat": -23.118958,
                    "lng": 150.7486493
                }
            },
            "name": "Yeppoon Beach House"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@17.67,-96.13&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Poniente 2 5, Jorge L. Tamayo, 68480 San Juan Bautista Valle Nacional, Oax., Mexico",
            "geometry": {
                "location": {
                    "lat": 17.775157,
                    "lng": -96.3071518
                }
            },
            "name": "Hotel Yaneli Itzel"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@-23.53,148.17&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "47-51 Clermont St, Emerald QLD 4720, Australia",
            "geometry": {
                "location": {
                    "lat": -23.5260176,
                    "lng": 148.1598392
                }
            },
            "name": "Emerald Star Hotel"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@6.54,21.99&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "3287 Mt Diablo Blvd, Lafayette, CA 94549, United States",
            "geometry": {
                "location": {
                    "lat": 37.896013,
                    "lng": -122.1010085
                }
            },
            "name": "Lafayette Park Hotel & Spa"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@5.95,80.54&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Kandehenwatte, Epitamulla Rd, Kamburugamuwa, Sri Lanka",
            "geometry": {
                "location": {
                    "lat": 5.939708,
                    "lng": 80.500931
                }
            },
            "name": "ParrotFish Bay"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@3.28,32.89&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Plot 28 Gulu Road, Kitgum, Uganda",
            "geometry": {
                "location": {
                    "lat": 3.28769,
                    "lng": 32.8785463
                }
            },
            "name": "Cactus"
        }
    ],
    "status": "OK"
}

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@-31.25,-61.49&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "Bv. G. Lehmann 380, S2300FNF Rafaela, Santa Fe, Argentina",
            "geometry": {
                "location": {
                    "lat": -31.249117,
                    "lng": -61.49005199999999
                }
            },
            "name": "Hotel Plaza Rafaela"
        }
    ],
    "status": "OK"
}
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel&inputtype=textquery&fields=name,geometry/location,formatted_address&locationbias=circle:5000@36.68,-121.66&key=AIzaSyAiLF9utGk86t3zOGA7UQCqMUlIR7fKRwY
{
    "candidates": [
        {
            "formatted_address": "2600 Sand Dunes Dr, Monterey, CA 93940, United States",
            "geometry": {
                "location": {
                    "lat": 36.6111545,
                    "lng": -121.858933
                }
            },
            "name": "Monterey Tides"
        }
    ],
    "status": "OK"
}

In [100]:
narrowed_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed,Hotel Name
36,Parnarama,1,BR,1581537456,88,-5.68,-43.09,78.64,1.50,Hotel Solar Parnaíba
51,Morondava,0,MG,1581537530,96,-20.28,44.28,75.07,1.03,Palissandre Cote Ouest resort & SPA
60,Mareeba,0,AU,1581537532,74,-17.00,145.43,78.80,3.36,Mareeba Lodge Motel
62,Kedougou,0,SN,1581537532,17,12.56,-12.17,82.92,4.27,Campement Touristique Le Dogon du Fouta
67,Srivardhan,0,IN,1581537534,66,18.03,73.02,74.44,3.98,Tranquil Beach Resort

In [104]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Lat", "Lon"]]

In [126]:
# Add marker layer ontop of heat map

name_list = narrowed_city_df['Hotel Name'].to_list()
hotel_layer = gmaps.marker_layer(
    locations,
    hover_text=name_list,
    info_box_content=hotel_info
)


fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

# Display Map

Figure(layout=FigureLayout(height='420px'))

In [127]:
fig = gmaps.figure()

fig.add_layer(humid_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))